[submodule "scripts/Meraki-Traffic-Analyzer"]
	path = scripts/Meraki-Traffic-Analyzer
	url = https://github.com/picnicsecurity/Meraki-Traffic-Analyzer.git
[submodule "vim/pack/gnupg/start/vim-gnupg"]
	path = vim/pack/gnupg/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "config/vim/pack/covim/start/CoVim"]
	path = config/vim/pack/covim/start/CoVim
	url = git@github.com:FredKSchott/CoVim
