[submodule "config/vim/pack/gnupg/start/vim-gnupg"]
	path = config/vim/pack/gnupg/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "config/vim/pack/solidity/start/vim-solidity"]
	path = config/vim/pack/solidity/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity
