[submodule "config/vim/pack/gnupg/start/vim-gnupg"]
	path = config/vim/pack/gnupg/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "config/vim/pack/solidity/start/vim-solidity"]
	path = config/vim/pack/solidity/start/vim-solidity
	url = https://github.com/tomlion/vim-solidity
[submodule "config/vim/pack/flake8/pack/vim-flake8"]
	path = config/vim/pack/flake8/pack/vim-flake8
	url = git@github.com:nvie/vim-flake8
[submodule "config/vim/pack/terraform/pack/vim-terraform"]
	path = config/vim/pack/terraform/pack/vim-terraform
	url = git@github.com:hashivim/vim-terraform
[submodule "config/vim/pack/nerdtree/start/nerdtree"]
	path = config/vim/pack/nerdtree/start/nerdtree
	url = https://github.com/preservim/nerdtree
