ansible>=5.4.0
ansible-core>=2.12.2
arandr>=0.1.10
awscli>=1.22.61
beautifulsoup4>=4.10.0
boto3>=1.20.46,<2
botocore>=1.23.46,<2
cloudflare>=2.8.15
cryptography>=36.0.1
decorator>=5.1.1
distro>=1.7.0
flake8>=4.0.1,<5
ipython>=8.0.1
OpenPGPpy>=0.5,<1
pyusb>=1.2.1
pywal>=3.3.0,<4
requests>=2.27.1,<3
six>=1.16.0
solaar>=1.1.1
speedtest-cli>=2.1.3
thefuck>=3.32
tldr>=3.1.0
truffleHog>=.2.2.1
virtualenv>=20.11.0
wheel>=0.37.1
yubikey-manager>=4.0.8
