##################################################################################
# Terraform
# Author:       Casey Sparks
# Date:         DATE

terraform {
  required_version = "~> TF_VERSION"

  required_providers {
  }
}

